<!DOCTYPE html>
	<head>
		<!-- Meta -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- Title -->
		<title>Let's make today Great!</title>

		<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<!-- Fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Gilda+Display&family=Open+Sans&family=Poppins:wght@300;400;600&family=Raleway&family=Permanent+Marker&display=swap" rel="stylesheet">

		<!-- Custom Datepicker -->
		<link rel="stylesheet" href="/assets/css/mc-calendar.min.css" />
		<!-- CSS Core -->
		<link rel="stylesheet" href="/assets/css/custom.css" />

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

		<!-- CSS Theme -->
	</head>
	<body>
	<!-- Body Wrapper -->
	<div id="body-wrapper" class="animsition" style="background-color: #a6c2d7;">

                    <header>
                        <nav>
                            <div class="container">
                                <h3 class="logo">Make Today <span>Great</span></h3>
                                <div class="hamburger-menu">
									<a href="/logout">
										<span class="material-icons" style="color:white;font-size:2rem;font-weight: bold;">
											logout
										</span>
									</a>
                                </div>
                            </div>
                        </nav>

                        <h1 class="big-title slide" data-speed="0.1">Make IT count.</h1>


                        <img src="../assets/img/househill-1.png" class="mountain1 househill slide" data-speed="-0.6" alt="">
                        <img src="../assets/img/greenery-1.png" class="mountain2 greenery slide" data-speed="-0.2" alt="">
                        <img src="../assets/img/rockytops-1.png" class="mountain3 rockytops slide" data-speed="0.2" alt="">
                        <img src="../assets/img/sky-2.png" class="sky slide" data-speed="0.5" alt="">
                    </header>
					<!-- Header / End -->
					<!-- Body Wrapper -->
					<!-- Content -->
					<div>